// Box Sizing Default

* {
  box-sizing: border-box;
}

// Variables

@import "partials/variables.scss";

// Partial Imports

@import "partials/normalize.scss";
@import "partials/horizontal-nav.scss";
@import "partials/slicknav.scss";
@import "partials/grid.scss";
@import "partials/body.scss";
@import "partials/main.scss";
@import "partials/debug.scss";

// Local Variables

$body-font: $base-font;
$body-font-size: $base-font-size;
$header-font: $base-header-font;
$header-font-df: 0.1rem;

// Container

@media (min-width: $tablet-width){
  .container {
    width: $tablet-container-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width){
  .container.row {
    width: $desktop-container-width;
  }
}
